<div class="home-page">

  <div class="banner" *appShowAuthed="false" style="background-color: royalblue;">
    <div class="container">
      <h1 class="logo-font">shop-it</h1>
      <p>Buy your favorites clothes at the best price</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
        </div>
        <br>
        <app-list-products></app-list-products>
      </div>

      <div class="col-md-2">
        <div>
          <p>Stats</p>

          <div>
            <h2 style="color: royalblue;">{{currentUsers}}</h2>
            <span>Current users</span>
          </div>

          <br/>

          <div *ngIf="product">
            <img style="width: 20%;" src="{{ product.Image }}" />
            <h3 class="link" [routerLink]="['/product', product.Name]">{{product.Name}}</h3>
            <span>Most wanted</span>
          </div>

          <!-- <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div> -->
        </div>
      </div>

    </div>
  </div>
</div>

<style>
  .link {
    width: fit-content;
  }

  .link:hover {
    color: royalblue;
    cursor: pointer;
    text-decoration: underline;
  }
</style>
