<!-- HTML COMPONENT -->

<section class="statsContainer">
  <section class="stats">
    <div class="stats__stat">
      <img src="./../../../assets/avatar.png" alt="" height="40px" />
      <h5><strong>CURRENT USERS</strong></h5>
      <h5>
        <strong>{{ currentUsers }}</strong>
      </h5>
    </div>

    <div class="stats__stat">
      <img src="./../../../assets/users.png" alt="Users" height="40px" />
      <h5><strong>TOTAL USERS TODAY</strong></h5>
      <h5>
        <strong>{{ totalUsers }}</strong>
      </h5>
    </div>

    <button
      (click)="toogleNewProductForm()"
      class="stats__stat stats__stat--outline"
    >
      <img src="./../../../assets/add.png" alt="" height="40px" />
      <h5><strong> NEW PRODUCT</strong></h5>
    </button>
  </section>

  <section class="stats__newProduct" [hidden]="!isNewProduct">
    <h3>Add new product</h3>
    <form [formGroup]="productForm">
      <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group">
          <input
            class="form-control form-control-lg"
            formControlName="productName"
            type="text"
            placeholder="Product Name"
          />
        </fieldset>

        <fieldset class="form-group">
          <input
            class="form-control"
            formControlName="productPrice"
            type="number"
            placeholder="Product price?"
          />
        </fieldset>

        <fieldset class="form-group">
          <input
            class="form-control"
            formControlName="productImage"
            type="url"
            placeholder="Product image"
          />
        </fieldset>

        <fieldset class="form-group">
          <textarea
            class="form-control"
            formControlName="productDescription"
            rows="8"
            placeholder="Write your product description"
          >
          </textarea>
        </fieldset>

        <button
          style="background-color: royalblue"
          class="btn btn-lg pull-xs-right btn-primary"
          type="button"
          (click)="submitProduct()"
        >
          Publish Product
        </button>
      </fieldset>
    </form>
  </section>

  <section *ngIf="!loading" class="totalPrice">
    <h3>Total amount in last 24 hours</h3>
    <img src="../../../assets/money.png" />
    <p>{{ totalAmount }} $</p>
  </section>

  <section *ngIf="!loading" class="stats__productStats">
    <h3>Better valored product in lasts 24 hours</h3>
    <div *ngFor="let buy of bestsBuys; let i = index" class="stat">
      <img src="../../../assets/gold.png" height="100px" alt="Better product" />
      <div class="stat__data">
        <h4>{{ buy.Product }}</h4>
        <h5>{{ buy.Price }} $</h5>
        <span>{{ buy.TimesBuyed }} times bought</span>
      </div>
    </div>

    <!-- <div class="stat">
      <img
        src="../../../assets/silver.png"
        height="100px"
        alt="Better product"
      />
      <div class="stat__data">
        <h4>{{ bestsBuys[1].Product }}</h4>
        <h5>{{ bestsBuys[1].Price }} $</h5>
      </div>
    </div>

    <div class="stat">
      <img
        src="../../../assets/copper.png"
        height="100px"
        alt="Better product"
      />
      <div class="stat__data">
        <h4>{{ bestsBuys[2].Product }}</h4>
        <h5>{{ bestsBuys[2].Price }} $</h5>
      </div>
    </div> -->
  </section>
</section>

<!-- COMPONENT STYLE -->

<style>
  .statsContainer {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .stats {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }

  .stats h5 {
    margin: 0.2rem;
    color: white;
  }
  .stats img {
    margin-bottom: 0.2rem;
  }

  .stats button {
    border-style: none;
  }

  .stats__stat {
    height: 10rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
    margin: 0.5rem;
    width: 100%;
    background-color: royalblue;
    padding: 1.2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stats__stat--outline {
    background-color: white;
    border: 3px solid royalblue !important;
  }

  .stats__stat--outline * {
    color: royalblue;
  }

  .stats__newProduct {
    margin-top: 2rem;
  }

  .totalPrice {
    margin-top: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: royalblue;
    color: white;
    border-radius: 20px;
  }

  .totalPrice h3 {
    margin-bottom: 2rem;
  }

  .totalPrice p {
    font-weight: bold;
    font-size: 100px;
  }

  .stats__productStats {
    margin-top: 2rem;
  }

  .stat {
    display: flex;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
  }

  .stat__data {
    display: flex;
    flex-direction: column;
  }
</style>
