<!-- HTML COMPONENT -->


  <div class="previewContainer">
    <img
      src="{{ product.Image }}"
      width="20%"
    />
    <div class="content">
      <h4 [routerLink]="['/product', product.Name]" class="link">{{ product.Name }}</h4>
      <span style="color: royalblue;">{{ product.Price }}€</span>
      <span>From: {{ product.User.Username }}</span>
    </div>

    <button (click)="likeProduct()" class="likeButton" style="color: royalblue;">{{ product.Likes }}
      <img
        width="100%"
        src="../../../assets/heart.png"
        alt=""
      />
    </button>
  </div>

<!-- COMPONENT CSS STYLE -->

<style>
  .previewContainer {
    display: flex;
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 1rem;

    margin: 0.5rem;
  }
  .content {
    width: 90%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
  }

  .link {
    width: fit-content;
  }

  .link:hover {
    color: royalblue;
    cursor: pointer;
    text-decoration: underline;
  }

  .likeButton {
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    border: none;
    margin-right: 1rem;
  }
</style>
