<!-- COMMENT COMPONENT -->

<section class="commentContent">
  <p>{{ comment.Message }}</p>
  <span style="font-size: 0.8rem; position: absolute; bottom: 0; margin: 1rem;" >{{ comment.Author.Username }}</span>
  <button style="position: absolute; right: 0; bottom: 0; margin: 1rem;" [hidden]="!isAuthor()" (click)="removeComment()">
    <img style="width: 1.5rem;" src="../../../assets/trash.png" />
  </button>
</section>

<!-- COMMENT STYLE -->

<style>
  .commentContent {
    position: relative;

    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
  }

  .commentContent button {
    background-color: transparent;
    border-style: none;
  }

</style>
