<!-- PRODUCT DETAIL - COMPONENT -->

<!-- product content  -->
<section *ngIf="!loading" class="details" >
  <!-- loading product -->
  <div class="loadingContent" [hidden]="!loading" >
    <h2>Cargando...</h2>
  </div>

  <div class="productContent" >
    <img class="productImage"
      src="{{ product.Image }}"
      alt="{{ product.Name }} product image" />
    <div class="productDescription">
      <h1>{{ product.Name }}</h1>
      <h2 style="color: royalblue;">{{ product.Price }}€</h2>
      <p>{{ product.Description }}</p>
    </div>
  </div>

  <div class="comments">
    <div class="addComments">
      <div class="errorComments" [hidden]="!commentErrorMessage">
        <p>{{ commentErrorMessage }}</p>
      </div>
      <div class="successComment" [hidden]="!commentSuccessMessage">
        <p>{{ commentSuccessMessage }}</p>
      </div>
      <form [formGroup]="form">
        <textarea placeholder="Comment" type="text" class="form-control form-control-lg ng-pristine ng-valid ng-touched"
          formControlName="commentMessage"></textarea>
      </form>
      <button class="sendButton btn btn-lg pull-xs-right btn-primary" style="background-color: royalblue !important;" (click)="publishComment()">
        Add Comment
      </button>
    </div>
    <h3>Comments</h3>
    <app-product-comment *ngFor="let comment of product.Comments" [comment]="comment" [authorId]="getAuthorId()"
      [deleteComment]="deleteComment"></app-product-comment>
  </div>
</section>

<!-- PRODUCT DETAIL - STYLE -->

<style>
  .details {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .productContent {
    margin-top: 5rem;

    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;

    width: 70%;
  }

  .productImage {
    width: 30%;
  }

  .productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .addComments {
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    width: 70%;
  }

  .errorComments {
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(223, 37, 37);
    margin-bottom: 2rem;
  }

  .successComment {
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(37, 223, 53);
    margin-bottom: 2rem;
  }

  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
  }

  .sendButton {
    margin-top: 1rem;
  }
</style>