<!-- PRODUCT DETAIL - COMPONENT -->

<!-- product content  -->
<section [hidden]="loading">
  <!-- loading product -->
  <div class="loadingContent" [hidden]="!loading">
    <h2>Cargando...</h2>
  </div>

  <div class="productContent" [hidden]="loading">
    <img
      class="productImage"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiit6Cr5HG87c467zUbWo9i0Q7MF2V1QwYqA&usqp=CAU"
      alt="{{ product.Name }} product image"
    />
    <div class="productDescription">
      <h1>{{ product.Name }}</h1>
    </div>
  </div>

  <div class="comments" [hidden]="loading">
    <div class="addComments">
      <div class="errorComments" [hidden]="!commentErrorMessage">
        <p>{{ commentErrorMessage }}</p>
      </div>
      <div class="successComment" [hidden]="!commentSuccessMessage">
        <p>{{ commentSuccessMessage }}</p>
      </div>




      <form [formGroup]="form">
        <textarea
          placeholder="Comment"
          type="text"
          class="form-control form-control-lg ng-pristine ng-valid ng-touched"
          formControlName="commentMessage"
        ></textarea>
      </form>





      
      <button
        class="sendButton btn btn-lg pull-xs-right btn-primary"
        (click)="publisComment()"
      >
        Add Comment
      </button>
    </div>
    <h3>Comments</h3>
    <app-product-comment
      [hidden]="loading"
      *ngFor="let comment of product.Comments"
      [comment]="comment"
    ></app-product-comment>
  </div>
</section>

<!-- PRODUCT DETAIL - STYLE -->

<style>
  .productContent {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }

  .productImage {
    width: 30rem;
    margin-left: -25%;
  }

  .productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .addComments {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .errorComments {
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(223, 37, 37);
    margin-bottom: 2rem;
  }

  .successComment{
     padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(37, 223, 53);
    margin-bottom: 2rem;
  }

  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sendButton {
    margin-top: 1rem;
  }
</style>
